body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width: 100%;
}

header li {
    font-size: 30px;
    margin: 30px;
}

main {
    background: #bfe3e5; /* Цвет фона */
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 10px;
    height: 500px;
}

.advert {
    background: #61c7e5; /* Цвет фона */
    float: right;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 0;
}


.advert p {
    text-align: center;
}
footer {
    padding: 20px; /* Поля */
    background: #1635e5; /* Цвет фона */
    height: 10%;
}

li {
    display: inline;
}

div {
    border: 1px solid transparent;
    margin: 0;
}

@media (max-width: 800px) {
    .advert {
        position: absolute;
        width: 100%;
    }
    main {
        width: 100%;
    }

    header li {
        font-size: 15px;
    }
}

@media (min-width: 1000px) {
    main h3 {
        font-size: 50px;
    }

    footer p {
        font-size: 30px;
    }

    .advert {
        width: 20%;
        height: 20%;
    }

    .advert p {
        font-size: 30px;
    }
}